#contenu{
    margin: auto;
    padding-top: 80px;
    text-align: center;
    max-width: 1110px;
    background-color: rgba(250,250,250,0.85);
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
    align-items: center;
    
}
.center-items{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

img.superbg {
    width: 100%;
	position:fixed;
	top:0;
	left:0;right:0;
	z-index:-1;
	opacity:0.5;
	filter:alpha(opacity=50);	
    }
.image{
    width: 100%;
    }
tr{
    margin: auto;
    text-align: left;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}